.carousel-indicators li {
    background-color: rgb(255, 255, 255);
  }
  
  .carousel-indicators .active {
    background-color: #333;
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    width: 100%;
  }
