.portraitContent {
  list-style-type: disc;
  font-size: 80%;
  padding-left: 2em;
}

.portrait {
  clear: both;
  margin-bottom: -3px;
  margin-top: -3px;
  overflow: hidden;
  border-bottom: 3px solid rgb(228, 228, 228);
  border-top: 3px solid rgb(228, 228, 228);
  padding-bottom: 10px;
  padding-top: 10px;
}

.portraitImg {
  height: 200px;
  width: 200px;
  object-fit: cover;
}


@media (min-width: 800px) {
  .portraitImg {
    float: left;
    margin-right: 2rem;
  }
  .portraitContent {
    margin-left: 210px;
  }
}